/* Perusasetukset */
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #ffe4e1;
    color: #333;
    margin: 0;
    padding: 0;
}



/* Sisältö */
.content {
    padding: 20px;
    text-align: center;
}
